{{define "footer"}}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{.System.Version}}
        </div>
        <strong>中和法律服务</strong>
        {{.FooterInfo}}
    </footer>
{{end}}